
html {
  height: 100%;
}

body {
  display: flex;
  margin:0;
  align-items: stretch;
  height: 100%;
}

#left-side {
  background-image: url(./img/background_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

#right-side {
  background-color: red;
  flex: 2;
  display: flex;
  flex-direction: column;
}

#name-banner {
  position:absolute;
  height: 100px;
  background-color:rgba(0, 0, 0, 0.349);
  width: 100%;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon {
  background-image: url(./img/odin-lined.png);
  background-size:cover;
  height: 6rem;
  width: 4.5rem;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Norse Bold";
  src: url(./fonts/Norse-Bold.otf);
}

#name {
  font-family: "Norse Bold", Arial, Helvetica, sans-serif;
  font-size: 5rem;
  color: whitesmoke;
}

#credit {
  color: whitesmoke;
  margin-top: 96vh;
  font-size: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.right-subdiv {
  background-color: rgb(236, 236, 236);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#right-bottom-div {
  justify-content: start;
}

#bottom-right-content {
  margin-top: 2rem;
  margin-left: 3rem;
}

#intro {
  margin-left: 3rem;
  margin-right: 12rem;
  margin-bottom: 2rem;
}

#form-div {
  background-color: whitesmoke;
  box-shadow: 0px 5px 5px lightgray;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#first-row {
  margin-bottom: 0;
}

#last-row {
  margin-bottom: 2rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-left: 2rem;
  gap: 3rem;
  font-family: Helvetica, sans-serif;
  color: rgb(54, 54, 54);
}

.form-input {
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

input {
  width: 250px;
  background-color: whitesmoke;
  padding: 5px 10px 5px;
  border-radius: 5px;
  border: solid 1px #E5E7EB;
  position: relative;
}

input:focus, input:focus-visible {
  border-color: rgb(56, 56, 255);
  outline: 0;
  box-shadow: 0px 5px 5px lightgray;
}

input:invalid {
  border-color: red;
}

p {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Helvetica, sans-serif;
  color: rgb(26, 26, 26);
}

#log-in {
  margin-top: 2rem;
  font-weight: 100;
  font-size: 1rem;
}

.password-wrapper {
  position: relative;
}

.password-wrapper::before {
  content: '* Password don\'t match';
  font-weight: 100;
  display: block;
  position: absolute;
  color: red;
  bottom: -1rem;
}


a {
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}

button {
  background-color: #596D48;
  color: whitesmoke;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  width: 200px;
  height: 45px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px lightgray;
  border: none;
}